#enca{
    color:rgb(243, 239, 239);
}
#nombres{
   color: rgb(230, 219, 219)65, 144, 144); 
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> b816d29d5b1e374d215f17433d796c260680a74c
#final{
    text-align:center;
    font-size:25px;
    color:rgb(239, 255, 94);
}
#icono{
    font-size: 40px;
}
#tarjetas{
    margin-top:100px;
    height:500px;  
}
#jum{
    height:10px;
}
#cuerpo{
    background-color: rgb(176, 182, 182);
}
<<<<<<< HEAD
=======
=======
>>>>>>> 0e3ccf7830bad4bfb183ec5c54ffc5878a5f6131
>>>>>>> b816d29d5b1e374d215f17433d796c260680a74c
